*{
    margin: 0;
    padding: 0;
    font-family: 'Bellefair';
}

html,body{
    font-size: 10px;
    font-family: 'Bellefair';
    background-color: #FAFAFA;
}


.title>h3{
    font-size: 4rem;
    color: #0A65D0;
    font-size: 8rem;
    margin-bottom: 5rem;
    font-weight: normal;
}

.ct-content-text>h3, .social-media>h3{
    font-size: 4rem;
    margin-bottom: 3rem;
    font-weight: normal;
}

.fab{
    font-size: 2rem;
}

.fa-facebook-f{
    padding: 1rem 1.3rem;
}

.social-media-items{
    display: flex;
    align-items: center;
}
span>a>i{
    background-color: #0A65D0;
    padding: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
    color: #fff;
}

.social-media>p{
    font-size: 1.5rem;
    letter-spacing: 13px;
    margin-left: .6rem;
}

.ct-items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.ct-form{
    background-color: #fff;
    padding: 5rem;
    border-radius: 5px;
    width: 30%;
}

.ct-form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem;
}

.ct-form-input>label{
    font-size: 2.5rem;
}

.ct-form-input>input, textarea, span>input{
    font-size: 1.5rem;
    padding: .8rem 0;
    outline: none;
    color: #0A65D0;
    border: 1px solid #0A65D0;
    border-radius: .5rem;
}


.ct-form-input>button, span>button{
    background-color: #0A65D0;
    outline: none;
    border: none;
    color: #fff;
    padding: .8rem 0;
    border-radius: .5rem;
    font-size: 2rem;
} 

span>button, span>input {
    padding: 1rem;
    margin-left: 1rem;
}

button:hover, .fab:hover {
    background-color: rgba(10, 101, 208, .6);
}

.ft-text{
    background-color: #050313;
    color: #fff;
    padding: 2.5rem 0;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
}

.ft-subscribe{
    background-color: rgba(5, 3, 19, .1);
    padding: 7rem;
}

.subscribe-form{
    display: flex;
    align-items: center;
    justify-content: center;
}




























body{
    /* background-color: rgb(232, 232, 243); */
}

.box_2{
    position: absolute;
    top: 40%;
    left: 46%;
    width: 8%;
    height: 17%;
    transform: translate(50% -50%);
    background-color: transparent;
    border-radius: 50%;
    /* animation: scaleFrame 2s ease-in-out 1s infinite normal; */
    animation-name: scaleFrame; 
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    
}

@keyframes scaleFrame{
    0%{
        transform: scale(0);
        background-color: blue;
    }
    100%{
        transform: scale(1);
    }
}